tugas 5 gen ai.json
{
  "name": "tugas 5 gen ai",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "1tPh7t_-7pglELraarCEWYub7pN8dztDr",
          "mode": "list",
          "cachedResultName": "Rag-supabase-1",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1tPh7t_-7pglELraarCEWYub7pN8dztDr"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "239e1eee-e495-417c-b55c-bb5bb534fb0f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BnEIKCoT78H1y6P8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "c2e097dc-713e-4331-bc14-e2d32d52764e",
              "name": "file_id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        208,
        0
      ],
      "id": "f6e0f2aa-95ec-401c-bd95-61f5ecbb3cf1",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.file_id }}",
          "mode": "id"
        },
        "options": {
          "googleFileConversion": {
            "conversion": {
              "docsToFormat": "text/plain"
            }
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "0a6d66ca-ce0e-4d0f-85e5-92f3a71bf241",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "BnEIKCoT78H1y6P8",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        624,
        0
      ],
      "id": "6572d0c9-60fa-4958-b3d4-9dbc70ceb92a",
      "name": "Extract from File"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        832,
        0
      ],
      "id": "d31ffbd7-64c8-455f-a6f8-488883ca4097",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "ZImLZo5HjhlBye5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-embedding-001"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        800,
        224
      ],
      "id": "1ab599af-13de-4d0e-8e91-21b272b9467d",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "dCUWmHGKwNxEyrNU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "textSplittingMode": "custom",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('Edit Fields').item.json.file_id }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1088,
        112
      ],
      "id": "23d74018-9b5e-4da2-ba82-9794acc07ee0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        992,
        224
      ],
      "id": "6a383766-a095-4baa-aa9a-8ff2751e1551",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "Kamu asisten yang membantu penulisan ilmiah untuk tugas akhir (TA). Gunakan tool Supabase Vector Store untuk memberikan bantuan.\nJika informasi tidak tersedia dalam database yang disediakan, jangan menjawab dengan mengarang sendiri, tetapi berikan jawaban “Maaf, saya belum dapat menjawab karena saya\ntemukan dalam informasi yang tersedia.” "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        256,
        352
      ],
      "id": "9475bebd-3738-423f-888b-4aa5eeb21a3a",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxOutputTokens": 2048
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        608
      ],
      "id": "4ce799b9-c3f1-4150-a4d1-02742029e213",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "dCUWmHGKwNxEyrNU",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Panggil tool Supabase vector ini untuk mendapatkan informasi panduan menulis karya tulisan ilmiah.",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        544,
        560
      ],
      "id": "e9281b4e-359c-4330-9fa2-956db96fa2af",
      "name": "Supabase Vector Store1",
      "credentials": {
        "supabaseApi": {
          "id": "ZImLZo5HjhlBye5d",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        256,
        560
      ],
      "id": "fe0e044f-7b07-4609-abc0-173585bd42ab",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "noIF8jQfWbSrryGL",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Halo! 👋\nSaya adalah AI Assistant yang dirancang untuk membantu menjawab pertanyaan terkait panduan penulisan ilmiah tugas akhir (TA) atau skripsi.\n\nSilakan ajukan pertanyaan mengenai struktur penulisan, isi bab, maupun kriteria akademik yang terdapat dalam panduan.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -96,
        336
      ],
      "id": "6e887216-7c97-4a4d-ba35-9bc7c6d929b9",
      "name": "When chat message received",
      "webhookId": "0c48b3f6-cdfd-418c-94fd-161b96b7bcda"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Extract from File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract from File": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Supabase Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "bf966805-fe95-49a5-86d0-7756b622aa22",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4174637e89bc262bd3660b9c8822afb344e83a8b137f4b57ccd4c7f0fcad64d5"
  },
  "id": "fVFlgb7CAKCZxKlS",
  "tags": []
}